<div class="seller-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp (sellerSignUp.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="name" placeholder="Enter Name" />
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Passwprd" />
            <input class="form-input" type="email" ngModel name="email" placeholder="Enter Email" />
            <button class="form-button">SignUp</button>
            <a (click)="openLogin()">Already Have Account? Click to Login</a>
        </form>
    </div>
    <!-- LogIn Area start-->

    <div *ngIf="showLogin" class="sign-up">
        <h1>Seller Login</h1>
        <form #sellerLogin="ngForm" (ngSubmit)=" Login (sellerLogin.value)" class="common-form">
            <input class="form-input" type="email" ngModel name="email" placeholder="Enter Email" />
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Passwprd" />
            <button class="form-button">Login</button>
            <a (click)="openSignUp()">Don't Have Account? Click to Sign-Up</a>
        </form>
    </div>

    <!-- LogIn Area end-->
</div>